{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% compress css %}
        <link href="{% static 'src/output.css' %}" rel="stylesheet" />
    {% endcompress %}

    <title>
        {% block headtitle %}
            StudyBud
        {% endblock headtitle %}
    </title>
</head>
<body>
    {% include 'navbar.html' %}
    
    {% block content %}
    {% endblock %}
    
</body>
</html>