<div class="sticky top-0">
    <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Resent Activities</h2>
            <hr>
            <div class="overflow-y-scroll h-[500px]">
                {% for message in room_messages %}
                    <div>            
                        <a href="{% url 'base:user-profile' user.id %}">
                            <div class="avatar">
                                <div class="w-8 rounded-full">
                                    <img src="{{message.user.avatar.url}}" alt="avatar">
                                </div>
                                <p class="ml-2">
                                    @{{ message.user.username }}
                                    <span>{{ message.created|timesince }} ago</span>
                                </p>
                            </div>
                        </a>
                        
                        {% if request.user == message.user %}
                            <div ><a href="{% url 'base:delete-message' message.id %}">remove</a></div>
                        {% endif %}

                        <p>replied to post “<a href="{% url 'base:room' message.room.id %}">{{ message.room }}</a>“</p>
                        <div>{{ message.body }}</div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>