{% extends "main.html" %}

{% block content %}
<div class="flex flex-col-reverse md:grid md:grid-cols-6 md:gap-6">
  <div class="col-span-1">
    {% for topic in topics %}
    #{{topic.name}} <br>
    {% endfor %}
  </div>
  <div class="col-span-4">
    
    <p>Rooms:</p>
    <hr>
    {% for room in rooms %}
    <p>@{{room.host}}</p>
    <div>
      {{room.id}} -- <a href="{% url 'base:home' %}">{{ room.name }}</a>
    </div>
    <span>{{ room.topic }}</span>
    <hr>
    {% endfor %}
  </div>
  
  <div class="col-span-1">

  </div>
</div>

{% endblock %}