{% extends "main.html" %}

{% block content %}

    <div class="flex flex-col-reverse md:grid md:grid-cols-6 md:gap-6">
        <div class="col-span-1">
            {% include "base/topics_component.html" %}
        </div>
        
        <div class="col-span-4">
            <div class="mb-8">
                <h1 class="mb-4">
                    {{ user.first_name }} {{ user.last_name }}
                </h1>
                <p>@{{ user.username }}</p>
                {% if request.user == user %}
                  <a href="{% url 'base:update-user' %}" class="btn btn-success">Update Profile</a>
                {% endif %}
                <div>
                    <h1>About:</h1>
                    <p>{{ user.bio }}</p>
                </div>
            </div>
            
            <div class="divider">Room Hosted by {{ user.username }}:</div>
            {% include "base/feed_component.html" %}
        </div>
        
        <div class="col-span-1">
            {% include "base/activity_component.html" %}
        </div>

    </div>
{% endblock %}
